<div ng-controller="ProductController">

    <section class="container body-product">
        <div class="row">
            <div class="col-md-6 big-img">
                <img src="{{product.image}}" alt="">
            </div>
            <div class="col-md-6">
                <div class="">
                    <!-- ng-bind = "product.title" -->
                    <h4>{{product.title}}</h4>
                    <h5>Descripcion:</h5>
                    <p>{{product.description}}</p>
                    <!--IF -->
                    <div ng-if="product.featured"> <!-- NO VA {{}} PORQUE NO ES UN STRING -->
                        <h1>ES FEATURED</h1>
                    </div>
                    <h5>Precio:</h5>
                    <h4>{{product.price}}</h4>
                </div>
                <!-- Rating Stars Box -->
                <div class='rating-stars text-center'>
                    <ul id='stars'>
                        <li class='star'  ng-repeat="star in stars" title={{star.title}} data-value={{star.dataValue}}>
                            <i class='fa fa-star'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>